body {
    background-color: bisque;
    color: black;
}
h1 {
    color: greenyellow;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}
h3 {
    color: green;
    font-size: 10px;
    font-weight: bold;
}
p {
    color: coral;
    font-size: 15px;
    text-align: left;
}
ol {
    color: red;
    list-style-type: square ;
    position: relative;
}
ul {
    color: blue;
    position: relative;
}